$primaryColor: #003714; 
$secondaryColor: white;
$menuColor: #599c2b; //#003714 #599c2b

$fontColor: #333;

$defaultFont: "Mulish", sans-serif; 
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 16px;


